[Desktop Entry]
Icon=network_local
Name=Network Services
Name[bg]=Мрежови услуги
Name[br]=Servijoù rouedad
Name[ca]=Serveis de xarxa
Name[cs]=Síťové služby
Name[da]=Netværkstjenester
Name[de]=Netzwerkdienste
Name[el]=Υπηρεσίες δικτύου
Name[eo]=Retservoj
Name[es]=Servicios de red
Name[et]=Võrguteenused
Name[eu]=Sare zerbitzuak
Name[fa]=خدمات شبکه
Name[fi]=Lähiverkkopalvelut
Name[fr]=Services réseaux
Name[ga]=Seirbhísí Líonra
Name[gl]=Servicios de Rede
Name[he]=שרותי רשת
Name[hu]=Hálózati szolgáltatások
Name[is]=Netþjónustur
Name[it]=Servizi di rete
Name[ja]=ネットワークサービス
Name[kk]=Желі қызметтері
Name[km]=សេវា​បណ្ដាញ
Name[ko]=네트워크 서비스
Name[lt]=Tinklo tarnybos
Name[lv]=Tīkla servisi
Name[nb]=Nettverkstjenester
Name[nds]=Nettwarkdeensten
Name[ne]=सञ्जाल सेवा
Name[nl]=Netwerkdiensten
Name[nn]=Nettverkstenester
Name[pa]=ਨੈੱਟਵਰਕ ਸੇਵਾਵਾਂ
Name[pl]=Usługi sieciowe
Name[pt]=Serviços de Rede
Name[pt_BR]=Serviços de Rede
Name[ro]=Servicii de reţea
Name[ru]=Сетевые службы
Name[sl]=Omrežne storitve
Name[sr]=Мрежни сервиси
Name[sr@latin]=Mrežni servisi
Name[sv]=Nätverkstjänster
Name[tr]=Ağ Servisleri
Name[uk]=Мережеві служби
Name[uz]=Тармоқ хизматлари
Name[vi]=Dịch vụ mạng
Name[x-test]=xxNetwork Servicesxx
Name[zh_CN]=网络服务
Name[zh_HK]=網絡服務
Name[zh_TW]=網路服務
Type=Link
URL=zeroconf:/
