[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=DNS-SD Services Watcher
Name[x-test]=xxDNS-SD Services Watcherxx
Comment=Keeps track of DNS-SD services and updates directory listings
Comment[x-test]=xxKeeps track of DNS-SD services and updates directory listingsxx
ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=dnssdwatcher
X-KDE-FactoryName=dnssdwatcher
X-KDE-Kded-autoload=true
